.modal-overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.502)
    display: flex
    justify-content: center
    align-items: center

.modal-content
    background-color: #fff
    padding: 20px
    border-radius: 20px
    display: flex
    flex-direction: column
    gap: 20px
    font-family: 'Arial', sans-serif

    &__title
        font-size: 24px
        text-align: center

    &__form
        display: flex
        flex-direction: column
        gap: 20px

        &__input
            padding: 12px
            border: 2px solid #ccc
            border-radius: 20px
            font-size: 16px

            &[type="color"]
                padding: 0px
                border: none
                cursor: pointer
                background: none
                height: 40px
                width: 120px

        &__label
            font-size: 18px
            margin-bottom: 8px
            font-weight: bold
        
        &__buttons
            display: flex
            justify-content: space-between

            button
                padding: 10px 20px
                border: 2px solid #ccc
                color: #fff
                border-radius: 20px
                font-size: 16px
                cursor: pointer     
                font-weight: bold
                font-family: 'Arial', sans-serif  
                transition: background-color 0.3s ease             

            &__create
                background-color: #4CAF50

                &:hover
                    background-color: #45a049

            &__cancel
                background-color: #f44336

                &:hover
                    background-color: #da190b