<div class="modal-overlay" *ngIf="isModalOpen" (click)="clickedOutsideModal($event)">
    <div class="modal-content">
        <h2 i18n class="modal-content__title">Invite People</h2>
        <form class="modal-content__form">
            <label i18n class="modal-content__form__label" for="first-name">First Name</label>
            <input class="modal-content__form__input" type="text" id="first-name" name="first-name" [(ngModel)]="newUser.firstName"
                placeholder="Enter first name" />
            <label i18n class="modal-content__form__label" for="last-name">Last Name</label>    
            <input class="modal-content__form__input" type="text" id="last-name" name="last-name" [(ngModel)]="newUser.lastName"
                placeholder="Enter last name" />
            <label i18n class="modal-content__form__label" for="favorite-color">Favorite Color</label>
            <input class="modal-content__form__input" type="color" id="favorite-color" name="favorite-color" [(ngModel)]="newUser.color" />
            <div class="modal-content__form__buttons">
                <button i18n class="modal-content__form__buttons__cancel"
                    type="button" (click)="closeModal()">Cancel</button>
                <button i18n class="modal-content__form__buttons__create"
                    type="submit" (click)="inviteUser()">Create</button>
            </div>
        </form>
    </div>
</div>