.page-container
    font-family: 'Arial', sans-serif

    &__date
        font-size: 20px
        font-weight: bold
        margin-bottom: 40px

    &__header
        display: flex
        font-size: 28px
        font-weight: bold
        margin-bottom: 20px
        gap: 80px

        &__messages
            display: flex
            flex-direction: column
            gap: 10px

            &__help
                font-weight: normal
                background: linear-gradient(to right, #2dd4bf 0%, #8b5cf6 100%)
                background-clip: text
                color: transparent

        &__buttons
            display: flex
            gap: 20px
            margin:0 4px
            align-items: flex-end

            button
                border: none
                border-radius: 50px
                padding: 8px 12px
                font-size: 14px
                background: #fff
                cursor: pointer
                font-weight: bold
                font-family: 'Arial', sans-serif
            
            &__gradient
                background: linear-gradient(to right, #2dd4bf 0%, #776b8a 100%)
                color: #fff
                border: none
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50px
                padding: 2px
            

        .ask-ai
            background: linear-gradient(145deg, #8a4bfa 0%, #e4ccff 100%)
            color: #fff
            border: none
            display: flex
            gap: 4px
            .icon
                font-size: 8px
