.routes-list
    list-style: none
    font-family: Arial, sans-serif
    font-weight: bold
    width: 250px
    border-bottom: 1px solid var(--border)
    padding: 12px

    .route-item
        margin-bottom: 8px

        .route-link
            text-decoration: none
            color: var(--text-primary)
            display: flex
            align-items: center
            gap: 16px
            padding: 8px 0px
            border-radius: 4px

            &:hover
                background: linear-gradient(to left, var(--bg-hover) 0%, var(--bg-card) 100%)
                i
                    color: var(--accent-4)

            i
                font-size: 20px
