.projects-container
    display: flex
    flex-direction: column
    gap: 16px
    width: 250px
    border-bottom: 1px solid #ddd
    padding: 12px
    color: #333
    font-weight: bold
    font-family: Arial, sans-serif

    &__add-button
        font-weight: bold
        background-color: #cbc6fc
        color: #7669e0
        border: none
        padding: 8px
        border-radius: 50px
        cursor: pointer
        font-size: 16px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 18px

    &__list
        list-style: none
        padding: 0
        margin: 0

    &__item
        padding: 16px 0
        display: flex
        align-items: center
        gap: 12px

        &__icon
            width: 20px
            height: 20px
            border-radius: 30%

        
