<div class="sidebar-container">
    <app-avatar-picture />
    <app-routes-list />
    <app-my-projects />
    <div class="sidebar-container__bottom">
        <button i18n class="settings-button" (click)="openChangeThemeModal()"><i class="fa fa-gear"></i> Settings</button>
        <div class="prodify-ai">
            <div class="prodify-ai__header">
                <span class="prodify-ai__icon">&#9733;</span>
                <span class="prodify-ai__title">prodify</span>
            </div>
            <div i18n class="prodify-ai__description">New members will gain access to public Spaces, Docs and Dashboards
            </div>
            <button i18n class="prodify-ai__invite-people-btn" (click)="openInvitePeopleModal()">+ Invite people</button>
        </div>
    </div>
</div>
<app-invite-people-modal></app-invite-people-modal>
<app-change-theme-modal></app-change-theme-modal>