<div class="avatar-frame">
    <div class="user">
        <div class="name-initials">
            {{ selectedUser.avatar }}
        </div>
        <div class="user-info">
            <p class="user-info__full-name">{{ selectedUser.name }}</p>
            <p class="user-info__status">Online</p>
        </div>
    </div>
    <button class="dropdown-button" (click)="onClickShowDropdown()">

        @if(isDropdownVisible) {
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
            <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>
        }@else{
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
        </svg>
        }

    </button>
    <div class="dropdown-wrapper" *ngIf="isDropdownVisible">
        <app-users-dropdown [selectedUserId]="selectedUser.id"
            (userSelected)="onUserSelected($event) "></app-users-dropdown>
    </div>
</div>