<div class="page-overlay">
    <img [src]="processedImageUrls[index()]" class="background-image" alt="Background Image" />
    <div class="page-content">
        <div class="logo">
            @if(isLightMode){
            <svg viewBox="0 0 498.503 498.503" xmlns="http://www.w3.org/2000/svg" fill="#7B2218" stroke="#7B2218">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M249.251 498.503c66.577 0 129.168-25.928 176.247-73.005 47.077-47.078 73.005-109.67 73.005-176.247 0-66.576-25.928-129.168-73.005-176.246C378.42 25.927 315.828 0 249.251 0 111.813 0 0 111.813 0 249.251c0 66.577 25.927 129.169 73.005 176.247 47.078 47.077 109.67 73.005 176.246 73.005z">
                    </path>
                    <path
                        d="M8.624 249.251c0-64.272 25.03-124.699 70.479-170.148 45.449-45.45 105.875-70.479 170.148-70.479s124.7 25.029 170.148 70.479c45.449 45.449 70.479 105.875 70.479 170.148 0 132.683-107.945 240.628-240.627 240.628-64.273 0-124.699-25.03-170.148-70.479C33.654 373.95 8.624 313.524 8.624 249.251z"
                        fill="#ffffff"></path>
                    <path
                        d="M249.251 18.541c-127.416 0-230.71 103.294-230.71 230.71s103.294 230.711 230.71 230.711c127.416 0 230.71-103.295 230.71-230.711s-103.294-230.71-230.71-230.71z">
                    </path>
                    <path
                        d="M249.251 396.621c-81.389 0-147.37-65.98-147.37-147.37 0-81.389 65.981-147.37 147.37-147.37 81.389 0 147.37 65.981 147.37 147.37 0 81.39-65.98 147.37-147.37 147.37z"
                        fill="#ffffff"></path>
                    <path
                        d="M111.362 249.251h137.889V111.362c-76.153 0-137.889 61.737-137.889 137.889zM249.251 249.251v137.89c76.153 0 137.889-61.736 137.889-137.89H249.251z">
                    </path>
                    <path
                        d="M140.952 108.643c-4.885-4.748-12.436-6.179-19.525-1.784 1.354-3.509.801-7.09.082-9.066-3.054-5.569-4.12-6.266-6.637-8.378-8.148-6.837-16.723-1-22.856 6.309l-29.632 35.313 46.581 39.087 31.249-37.24c7.14-8.509 8.244-16.945.738-24.241zM256.97 91.863l15.997-42.401v42.401h12.158V31.137h-18.267l-16.615 43.479h.172L233.8 31.137h-18.266v60.726h12.157V49.462l15.998 42.401h13.281zM420.43 117.127l-22.89 32.407 35.486-16.847 9.396 11.603-55.854 27.075-11.027-13.727 21.969-32.123-.13-.161-35.989 14.81-11.135-13.64 38.097-49.004 9.396 11.603-23.857 31.208 36.458-15.652 10.08 12.448z"
                        fill="#ffffff"></path>
                    <path
                        d="M98.491 104.464c2.062-2.458 6.722-2.357 9.719.157 3.295 2.765 3.303 6.685 1.09 9.321l-17.597 20.971-11.01-9.239 17.798-21.21zM129.8 129.203l-18.553 22.11-11.634-9.762 18.703-22.29c2.112-2.517 6.821-3.25 9.997-.584 3.595 3.015 3.951 7.59 1.487 10.526z">
                    </path>
                </g>
            </svg>
            }@else{
            <svg viewBox="0 0 498.503 498.503" xmlns="http://www.w3.org/2000/svg" fill="#663b30" stroke="#663b30">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M249.251 498.503c66.577 0 129.168-25.928 176.247-73.005 47.077-47.078 73.005-109.67 73.005-176.247 0-66.576-25.928-129.168-73.005-176.246C378.42 25.927 315.828 0 249.251 0 111.813 0 0 111.813 0 249.251c0 66.577 25.927 129.169 73.005 176.247 47.078 47.077 109.67 73.005 176.246 73.005z">
                    </path>
                    <path
                        d="M8.624 249.251c0-64.272 25.03-124.699 70.479-170.148 45.449-45.45 105.875-70.479 170.148-70.479s124.7 25.029 170.148 70.479c45.449 45.449 70.479 105.875 70.479 170.148 0 132.683-107.945 240.628-240.627 240.628-64.273 0-124.699-25.03-170.148-70.479C33.654 373.95 8.624 313.524 8.624 249.251z"
                        fill="#ffffff"></path>
                    <path
                        d="M249.251 18.541c-127.416 0-230.71 103.294-230.71 230.71s103.294 230.711 230.71 230.711c127.416 0 230.71-103.295 230.71-230.711s-103.294-230.71-230.71-230.71z">
                    </path>
                    <path
                        d="M249.251 396.621c-81.389 0-147.37-65.98-147.37-147.37 0-81.389 65.981-147.37 147.37-147.37 81.389 0 147.37 65.981 147.37 147.37 0 81.39-65.98 147.37-147.37 147.37z"
                        fill="#ffffff"></path>
                    <path
                        d="M111.362 249.251h137.889V111.362c-76.153 0-137.889 61.737-137.889 137.889zM249.251 249.251v137.89c76.153 0 137.889-61.736 137.889-137.89H249.251z">
                    </path>
                    <path
                        d="M140.952 108.643c-4.885-4.748-12.436-6.179-19.525-1.784 1.354-3.509.801-7.09.082-9.066-3.054-5.569-4.12-6.266-6.637-8.378-8.148-6.837-16.723-1-22.856 6.309l-29.632 35.313 46.581 39.087 31.249-37.24c7.14-8.509 8.244-16.945.738-24.241zM256.97 91.863l15.997-42.401v42.401h12.158V31.137h-18.267l-16.615 43.479h.172L233.8 31.137h-18.266v60.726h12.157V49.462l15.998 42.401h13.281zM420.43 117.127l-22.89 32.407 35.486-16.847 9.396 11.603-55.854 27.075-11.027-13.727 21.969-32.123-.13-.161-35.989 14.81-11.135-13.64 38.097-49.004 9.396 11.603-23.857 31.208 36.458-15.652 10.08 12.448z"
                        fill="#ffffff"></path>
                    <path
                        d="M98.491 104.464c2.062-2.458 6.722-2.357 9.719.157 3.295 2.765 3.303 6.685 1.09 9.321l-17.597 20.971-11.01-9.239 17.798-21.21zM129.8 129.203l-18.553 22.11-11.634-9.762 18.703-22.29c2.112-2.517 6.821-3.25 9.997-.584 3.595 3.015 3.951 7.59 1.487 10.526z">
                    </path>
                </g>
            </svg>
            }
        </div>
        @if(isNewHere)
        {
        <p class="title">{{ 'LOGIN_REGISTER_PAGE.SUBTITLE_REGISTER' | translate }}</p>
        }
        @else
        {
        <p class="title">{{ 'LOGIN_REGISTER_PAGE.TITLE' | translate }}</p>
        }
        <form class="sign-in-form" [formGroup]="accountForm" (ngSubmit)="onSubmitForm()">
            @if(!isNewHere)
            {
            <div class="input-group">
                <label class="input-label center-login">{{ 'LOGIN_REGISTER_PAGE.USERNAME_PLACEHOLDER' |
                    translate}}</label>
                <input class="sign-in-form__input center-login" type="text" formControlName="username"
                    placeholder="e.g. user123" />
                <div class="error-message center-login">
                    @if(checkForErrors('username', 'required')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.USERNAME_REQUIRED'
                        | translate }}</span>
                    }
                    @if(checkForErrors('username', 'minlength')) {
                    <span><i
                            class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.USERNAME_MIN_LENGTH'
                        | translate }}</span>
                    }
                </div>
            </div>
            }
            @else
            {
            <div class="row-inputs">
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.EMAIL_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="email" formControlName="email"
                        placeholder="e.g. user@example.com" />
                    <div class="error-message">
                        @if(checkForErrors('email', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.EMAIL_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('email', 'email')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.EMAIL_INVALID'
                            | translate }}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.DESIRED_USERNAME_PLACEHOLDER' | translate
                        }}</label>
                    <input class="sign-in-form__input" type="text" formControlName="username"
                        placeholder="e.g. user123" />
                    <div class="error-message">
                        @if(checkForErrors('username', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.USERNAME_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('username', 'minlength')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.USERNAME_MIN_LENGTH'
                            | translate }}</span>
                        }
                    </div>
                </div>
            </div>
            <div class="row-inputs">
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.PASSWORD_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="password" formControlName="password"
                        placeholder="e.g. password123" />
                    <div class="error-message">
                        @if(checkForErrors('password', 'required')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{
                            'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_REQUIRED' | translate }}</span>
                        }
                        @if(checkForErrors('password', 'minlength')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{
                            'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MIN_LENGTH' | translate }}</span>
                        }
                        @if(checkForErrors('password', 'missingNumber')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>
                            {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_NUMBER' | translate}}</span>
                        }
                        @if(checkForErrors('password', 'missingUppercase')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>
                            {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_UPPERCASE' | translate}}</span>
                        }
                        @if(checkForErrors('password', 'missingSpecialChar')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>
                            {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_SPECIAL_CHAR' | translate}}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.CONFIRM_PASSWORD_PLACEHOLDER' | translate
                        }}</label>
                    <input class="sign-in-form__input" type="password" formControlName="confirmPassword"
                        placeholder="e.g. password123" />
                    <div class="error-message">
                        @if(checkForErrors('confirmPassword', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.CONFIRM_PASSWORD_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('confirmPassword', 'passwordMismatch')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISMATCH'
                            | translate }}</span>
                        }
                    </div>
                </div>
            </div>
            <div class="row-inputs">
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.ADDRESS_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="text" formControlName="homeAddress"
                        placeholder="e.g. Str. Ploiești 9-11" />
                    <div class="error-message">
                        @if(checkForErrors('homeAddress', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.ADDRESS_REQUIRED'
                            | translate }}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.ZIPCODE_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="text" formControlName="zipCode"
                        placeholder="e.g. 400001" />
                    <div class="error-message">
                        @if(checkForErrors('zipCode', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.ZIPCODE_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('zipCode', 'pattern')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.ZIPCODE_INVALID'
                            | translate }}</span>
                        }
                    </div>
                </div>
            </div>
            }

            @if(isNewHere)
            {
            <div class="row-inputs groupped">
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.COUNTRY_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="text" list="country-list" name="country"
                        formControlName="country" placeholder="e.g. Romania"
                        (change)="onCountryChange($event.target.value)" />
                    <datalist id="country-list">
                        @for (country of countries; track country) {
                        <option [value]="country"></option>
                        }
                    </datalist>
                    <div class="error-message">
                        @if(checkForErrors('country', 'required')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{
                            'LOGIN_REGISTER_PAGE.ERRORS.COUNTRY_REQUIRED' | translate }}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.CITY_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="text" list="city-list" name="city" formControlName="city"
                        placeholder="e.g. Cluj-Napoca" />
                    <datalist id="city-list">
                        @for (city of citiesForSelectedCountry; track city) {
                        <option [value]="city"></option>
                        }
                    </datalist>
                    <div class="error-message">
                        @if(checkForErrors('city', 'required')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.CITY_REQUIRED'
                            | translate }}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.PHONE_NUMBER_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="text" formControlName="phoneNumber"
                        placeholder="e.g. +40 712 345 678" />
                    <div class="error-message">
                        @if(checkForErrors('phoneNumber', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.PHONE_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('phoneNumber', 'pattern')) {
                        <span><i class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.PHONE_INVALID'
                            | translate }}</span>
                        }
                    </div>
                </div>
                <div class="input-group">
                    <label class="input-label">{{ 'LOGIN_REGISTER_PAGE.LUCKY_NUMBER_PLACEHOLDER' | translate }}</label>
                    <input class="sign-in-form__input" type="number" min="1" formControlName="luckyNumber"
                        placeholder="e.g. 7" />
                    <div class="error-message">
                        @if(checkForErrors('luckyNumber', 'required')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.LUCKY_NUMBER_REQUIRED'
                            | translate }}</span>
                        }
                        @if(checkForErrors('luckyNumber', 'min')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.LUCKY_NUMBER_MIN'
                            | translate }}</span>
                        }
                        @if(checkForErrors('luckyNumber', 'max')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.LUCKY_NUMBER_MAX'
                            | translate }}</span>
                        }
                        @if(checkForErrors('luckyNumber', 'allDigitsSame')) {
                        <span><i
                                class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.LUCKY_NUMBER_SAME_DIGITS'
                            | translate }}</span>
                        }
                    </div>
                </div>
            </div>
            }
            @else
            {
            <div class="input-group">
                <label class="input-label center-login">{{ 'LOGIN_REGISTER_PAGE.PASSWORD_PLACEHOLDER' | translate }}
                </label>
                <input class="sign-in-form__input center-login" type="password" formControlName="password"
                    placeholder="e.g. password123" />
                <div class="error-message center-login">
                    @if(checkForErrors('password', 'required')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_REQUIRED'
                        | translate }}</span>
                    }
                    @if(checkForErrors('password', 'minlength')) {
                    <span><i
                            class="fa-solid fa-circle-exclamation"></i>{{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MIN_LENGTH'
                        | translate }}</span>
                    }
                    @if(checkForErrors('password', 'missingNumber')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>
                        {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_NUMBER' | translate}}</span>
                    }
                    @if(checkForErrors('password', 'missingUppercase')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>
                        {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_UPPERCASE' | translate}}</span>
                    }
                    @if(checkForErrors('password', 'missingSpecialChar')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>
                        {{'LOGIN_REGISTER_PAGE.ERRORS.PASSWORD_MISSING_SPECIAL_CHAR' | translate}}</span>
                    }
                    @if(checkForErrors('password', 'invalidCredentials')) {
                    <span><i class="fa-solid fa-circle-exclamation"></i>
                        {{'LOGIN_REGISTER_PAGE.ERRORS.INVALID_CREDENTIALS' | translate}}</span>
                    }
                </div>
            </div>
            }

            @if(!isNewHere)
            {
            <div class="actions">
                <div class="actions__remember-me">
                    <input type="checkbox" id="remember-me" formControlName="rememberMe" />
                    <label for="remember-me">{{ 'LOGIN_REGISTER_PAGE.REMEMBER_ME' | translate }}</label>
                </div>
                <a class="actions__forgot-password">{{ 'LOGIN_REGISTER_PAGE.FORGOT_PASSWORD' | translate }}</a>
            </div>
            }

            @if(isNewHere)
            {
            <div class="buttons-container">
                <button class="new-here-button" (click)="isNewHerePressed()" type="button"> <i
                        class="fa-solid fa-backward"></i>{{
                    'LOGIN_REGISTER_PAGE.GO_BACK' | translate}}</button>
                <button class="submit-button center-button1" type="submit"
                    [disabled]="!accountForm.valid">{{'LOGIN_REGISTER_PAGE.CREATE_ACCOUNT' | translate }}</button>
            </div>
            }
            @else
            {
            <div class="buttons-container">
                <button class="submit-button center-button2" type="submit"
                    [disabled]="!accountForm.valid">{{'LOGIN_REGISTER_PAGE.BUTTON' | translate }}</button>
                <button class="new-here-button" (click)="isNewHerePressed()" type="button">{{
                    'LOGIN_REGISTER_PAGE.NEW_HERE' |
                    translate}} <i class="fa-solid fa-forward"></i></button>
            </div>
            }

        </form>

    </div>
</div>

<app-language-picker></app-language-picker>
<app-loading-spinner></app-loading-spinner>